# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# SQLite in apps folder (explicitly)
apps/db.sqlite

# venv / virtual environment
env/
venv/

# environment variables
.env

# other
.DS_Store

# sphinx docs 
_build/
_static/
_templates/

# javascript
package-lock.json
.vscode/symbols.json

apps/static/assets/node_modules/
apps/static/assets/yarn.lock
apps/static/assets/.temp/
